<div class="landing">

  <section id="landing-container">

    <!-- USER PICTURE AND DETAILS -->

    <div class="user">

      <div class="user-tile">
        User Profile Pic
      </div>

      <div class="user-info">
        User information
      </div>

    </div>

    <!-- livefeed scrollabletable -->
    <div class="lfst">

      <div class="lfst-feed">
        Live feed of E-sports news
      </div>

      <div class="lfst-table">
        
        <div class="lfst-table-col"></div>
        <div class="lfst-table-col"></div>
        <div class="lfst-table-col"></div>

      </div>

      <div class="lfst-game-select">
        Toolbar for different games
      </div>

    </div>


    <!-- friends tab -->
    <div class="ft">

    </div>
  
  </section>
  
</div>
