<div class="landing">

  <section id="landing-container">

    <div class="c-1">

      <div class="c-1-dp">

      </div>

      <div class="c-1-dp">

      </div>

    </div>

    <div class="c-2">

      <div class="c-2-dp">

        <div class="c-2-dp-graph">

        </div>

        <div class="c-2-dp-details">

          <div class="c-2-dp-details-title">
            <h3>Data Details</h3>
            <div class="underline"></div>
          </div>

          <div class="c-2-dp-details-items">
            <ul>
              <li>Test Item</li>
              <li>Test Item</li>
              <li>Test Item</li>
              <li>Test Item</li>
              <li>Test Item</li>
            </ul>
          </div>

        </div>

      </div>

    </div>
  
  </section>
  
</div>
