%flexRow
    display: flex
    justify-content: center
    align-items: center

%flexColumn
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: column

%backgroundFull
    background-size: cover
    background-repeat: no-repeat
    background-position: center

%boxStylings
    border-radius: 10px
    box-shadow: 3px 3px 7px #444444
    background-color: #3d3d3d
    border: 2px solid #0096c3
    
.underline
    height: 2px
    width: 20%
    background: #0096c3


.landing
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    background-image: url('https://c.wallhere.com/photos/9a/b6/1920x1080_px_Blue_Background_Colorful_digital_art_geometry_hexagon-570692.jpg!d')
    @extend %backgroundFull

#landing-container 
    height: 100%
    width: 100%
    background: rgba(0,0,0,0.25)
    display: flex
    justify-content: space-around

    .user
        width: 15%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around

        &-tile 
            width: 75%
            height: 15%
            @extend %boxStylings

        &-info
            height: 75%
            width: 75%

    .lfst
        width: 85%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        background-color: transparent
        justify-content: space-around

        &-feed 
            width: 90%
            height: 10%
            @extend %boxStylings
        
        &-table
            height: 50%
            width: 90%
            @extend %flexRow
            justify-content: space-between

            &-col
                width: 30%
                height: 100%
                @extend %boxStylings

        &-game-select
            width: 90%
            height: 25%
            @extend %boxStylings
